.header, .footer {
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 2em;
    margin: 0 0 5px; /* Change margin-bottom to 0 */
}

.header h1 {
    margin: 0 0 5px; /* Change margin-bottom to 0 */
}

.header h3 {
    margin: 0 0 5px; /* Change margin-bottom to 0 */
}


img {
    width: 200px;
    border-radius: 50%;
}

main {
    padding: 20px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.contact p a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: grid;
    place-items: center;
    grid-row-gap: 5px; /* Adjust the value as needed */
}

.header img {
    grid-column: 1;
    grid-row: 1;
}

.header h1 {
    grid-column: 1;
    grid-row: 3;
    text-align: left;
}

.header h3 {
    grid-column: 1;
    grid-row: 4;
    text-align: left;
}

